<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Síbín Lounge</title>
</head>
<body>

    <header>
        <!-- top navbar -->
        <nav class="nav-extended text-shadow green darken-2">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_drinks') }}" class="brand-logo"><i class="fas fa-cocktail"></i></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_drinks') }}">Home</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Your Drinks</a></li>
                        <li><a href="{{ url_for('add_drink') }}">New Drink</a></li>
                        {% if session.user|lower == "admin"|lower %}
                            <li><a href="{{ url_for('get_categories') }}">Manage Styles</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Exit Lounge</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Enter Lounge</a></li>
                        <li><a href="{{ url_for('join') }}">Join Lounge</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- side navbar -->
        <ul class="sidenav amber lighten-1 " id="mobile-demo">
            <li><h4 class="center-align green-text text-darken-2">Síbín Lounge</h4></li><br>
            <li><a href="{{ url_for('get_drinks') }}">Home</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Your Drinks</a></li>
                <li><a href="{{ url_for('add_drink') }}">New Drink</a></li>
                {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('get_categories') }}">Manage Styles</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Exit Lounge</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Enter Lounge</a></li>
                <li><a href="{{ url_for('join') }}">Join Lounge</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="green lighten-3 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
    <!-- footer -->
    <footer class="page-footer green darken-2">
        <div class="footer-copyright">
            <div class="container">
                © 2021 Stephen O'Connor
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>