{% extends "base.html" %}
{% block content %}

    <h3 class="center-align white-text">Join the Lounge</h3><br>
    <h4 class="center-align white-text">Welcome to Síbín Lounge a place for you to find and share the best drinks you've made at home in your own little Síbín</h4><br>
    <h5 class="center-align white-text">The word Síbín(pronounced "Shebeen") originated in Ireland between 1780–90. It referred to home brewed whiskey which was then sold illegally and soon came to refer to unlicensed premises that sold alcohol.</h5><br>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('join') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix green-text text-darken-2"></i>
                        <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Síbín Lounge Name</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix green-text text-darken-2"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    <!-- join now -->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large green text-shadow">
                            Join Now! <i class="fas fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align white-text">
                Already Joined?
                <a href="{{ url_for('login') }}" class="light-green-text text-darken-3">Enter The Lounge Here!</a>
            </p>
        </div>
    </div>

{% endblock %}