{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Enter the Lounge</h3><br>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('join') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-sign-in-alt prefix green-text text-darken-2"></i>
                        <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Síbín Lounge Name</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix green-text text-darken-2"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    <!-- login -->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large green text-shadow">
                            Enter Now! <i class="fas fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                First Time Here?
                <a href="{{ url_for('join') }}" class="light-green-text text-darken-3">Join up now!</a>
            </p>
        </div>
    </div>

{% endblock %}